@import "../../common/colors.scss";

.movie-section {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px;
  color: $font-primary;
  font-weight: 400;
}

.movie-rating {
  padding-left: 3px;
  margin-top: 20px;
  color: $font-secondary;
  display: flex;

  span {
    margin-right: 20px;
  }
}

.movie-title {
  font-size: 40px;
  color: $font-primary;
}

.movie-plot {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.8rem;
  max-width: 800px;
}

.movie-info > div span:first-child {
  padding: 10px 0px;
  color: $font-primary;
  font-weight: 700;
  width: 100px;
  display: inline-block;
}

.movie-info > div span {
  color: $font-secondary;
}

.fa-star {
  color: #ff9e00;
}

.fa-thumbs-up {
  color: #fafafa;
}

.fa-film {
  color: rgb(191, 213, 214);
}

.fa-calendar {
  color: peachpuff;
}

@media (max-width: 600px) {
  .movie-section {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .movie-title {
    margin-top: 30px;
    font-size: 20px;
    color: $font-primary;
  }
  .section-right img {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 200px;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
